<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1v3LkBksMVq_mEHeih5p2HshBuhhjE1c</string>
	<key>GCM_SENDER_ID</key>
	<string>173120249003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realidadeaumentada</string>
	<key>PROJECT_ID</key>
	<string>multi-store-77e7d</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-store-77e7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173120249003:ios:dadb07dd1d394273dbabee</string>
</dict>
</plist>